/*Header*/

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: #000;
    color: #fff;
}
.logga{
    width: 4rem; /* Justera storlek vid behov */
    height: auto; /* För att behålla proportioner */
}

.hemsida-namn {
    font-size: 1.6rem;
    font-weight: bold;
    margin-left: 1rem;
}

.knappar {
    display: flex;
    justify-content: space-around;
    padding: 0.5rem 0;
    background-color: #f0f0f0;
}
.knapp {
    padding: 0.5rem 1rem;
    color: solid black
}

.partners {
    padding: 0.5rem 1rem;
    color: solid black
}

/*produker*/

.rubrik{
    text-align: center; 
    margin-top: 2rem;
    background-color: #fff;
}

.produkter{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 1rem;
}
.produkter2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 1rem;
}

.produkt{
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    text-align: center;
}

.produkt img{
    max-width: 100%;
    max-height: 150px;
}

.pris{
    margin-top: 10px;
    font-size: 1.2rem;
}

.lägg-till{
    padding: 0.5rem 1rem;
    background-color: #6FDB3C;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.footer{
    background-color: #000;
    color: #fff;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.foot-innehåll{
    display: flex;
    justify-content: center;
    align-items: center;
}

.kontakt-info{
    text-align: center;
}



/* Din befintliga CSS-stil här */

.varukorg {
    width: 4rem; 
    height: auto; 
    cursor: pointer; /* För att markera att det är klickbart */
}

.varukorg-popup {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 20%; /* Anpassa efter önskad bredd */
    height: 100vh; /* Täcker hela skärmen */
    background-color: rgba(0, 0, 0, 0.5); /* Delvis genomskinlig bakgrundsfärg */
    z-index: 999; /* Se till att popupen ligger över andra element */
    overflow-y: auto; /* Låt det finnas en vertikal scrollbar vid behov */
    padding: 20px; /* Utrymme runt innehållet */
    box-sizing: border-box; /* Inkludera padding och border i totala bredden */
}

.varukorg-innehåll {
    background-color: #fff; /* Bakgrundsfärg för innehållet */
    height: 100%; /* Höjden täcker hela popupen */
}


/* Anpassa övriga stilar för att passa popupens bredd och innehåll */


.stäng-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    padding: 5px; /* Öka padding för att göra knappen större */
    border-radius: 50%; /* Rundad kant för en knapp som ser ut som en cirkel */
    background-color: #fff; /* Bakgrundsfärg för att göra knappen synlig */
}


.centrerad {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#rensaKorg {
    margin-bottom: 10px; /* Justera om det behövs */
}



